{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% comment %} fonts {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
          rel="stylesheet" />
    {% tailwind_css %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block tab_title %}
        {{ page.title|default:"UK Malifaux Community" }}
      {% endblock tab_title %}
    </title>
  </head>
  <body class="font-dosis bg-zinc-800 text-zinc-50">
    <div class="w-full p-2 lg:p-0 lg:mx-auto max-w-xl">
      <h1>
        <a class=" text-zinc-50" href="{% url 'home_page' %}">UK Malifaux Community</a>
      </h1>
      <nav class="flex gap-1 justify-end">
        <a href="{% url 'event_list' %}">Events</a>
        <a href="{% url 'team_list' %}">Teams</a>
        <a href="{% url 'venue_list' %}">Venues</a>
      </nav>
      <h2>
        {% block page_title %}
          {{ page.title }}
        {% endblock page_title %}
      </h2>
      <section>
        {% block content %}
        {% endblock content %}
      </section>
    </div>
  </body>
</html>
