{% extends "website/base.html" %}
{% block content %}
  <div class="mb-4">{{ page_content.description | safe }}</div>
  {% regroup object_list by month as events_by_month %}
  {% for group in events_by_month %}
    <div class="mb-4">
      <h5 class=" font-bold">{{ group.grouper }}</h5>
      <div class="mb-4">
        {% for event in group.list %}
          <div>
            <a href="{% url 'event_detail' event.id %}">{{ event.name }}</a> - {{ event.venue.name }}, {{ event.venue.city }}
          </div>
          <div>{{ event.short_description }}</div>
          {% if event.max_spaces %}
            <div>
              {{ event.max_spaces }} player maximum.
            {% endif %}
          </div>
        </div>
      {% empty %} No events
      {% endfor %}
    {% empty %} No months
    </div>
  {% endfor %}
{% endblock content %}
