{% extends "website/base.html" %}
{% load cloudinary_tags %}
{% block tab_title %}
  {{ event.name }}
{% endblock tab_title %}
{% block page_title %}
  {{ event.name }} at {{ event.venue.name }} - {{ event.date }}
{% endblock page_title %}
{% block content %}
  {% if event.artwork %}
    <div class="max-w-md mx-auto">
      <img data-thumbnail
           src="{% cloudinary_responsive_image event.artwork.public_id %}"
           alt="Artwork for {{ event.name }}" />
    </div>
  {% endif %}
  <p>
    organised by {{ event.tournament_organiser.first_name }}
    {{ event.tournament_organiser.last_name }}
  </p>
  {{ event.description | safe }}
  <c-gallery title="Best Painted" :images="event.best_painted_images.all" gallery_name="best_painted" />
  <c-gallery title="Prizes" :images="event.prize_images.all" gallery_name="prizes" />
  <c-gallery title="Swag" :images="event.swag_images.all" gallery_name="swag" />
  <c-gallery title="Play" :images="event.play_images.all" gallery_name="play" />
{% endblock content %}
