{% extends 'website/base.html' %}
{% load cloudinary_tags %}
{% block content %}
  <section>
    {{ page_content.introduction | safe }}
  </section>
  <div>
    <section>
      <h3>
        <a href="{% url 'event_list' %}">{{ page_content.events_section_heading | safe }}</a>
      </h3>
      <div class="mb-4">{{ page_content.events_section_explanation | safe }}</div>
      {% for event in events %}
        <div class="mb-4 grid grid-cols-3 gap-4">
          <span>
            <a href="{% url 'event_detail' event.id %}">{{ event.name }}</a>
          </span>
          <span>{{ event.date }}</span>
          <span>{{ event.venue.name }} - {{ event.venue.city }}</span>
        </div>
      {% endfor %}
    </section>
    <section>
      <h3>
        <a href="{% url 'team_list' %}">{{ page_content.teams_section_heading | safe }}</a>
      </h3>
      {{ page_content.teams_section_explanation | safe }}
      {% for team in teams %}
        <div>
          <a href="{% url 'team_detail' team.id %}">{{ team.name }}</a> - {{ team.usual_venue.city }}
        </div>
      {% endfor %}
    </section>
  </div>
{% endblock %}
