{% extends "website/base.html" %}
{% block content %}
  {{ page_content.definition | safe }}
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      {% for team in team_list %}
        <tr>
          <td>
            <a href={% url 'team_detail' team.id %}>{{ team.name }}</a>
          </td>
          <td>{{ team.usual_venue.city }}</td>
        </tr>
      {% empty %}
        <tr>
          <td>no teams yet!</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
